.swiper {
    width: 1370px;
    height: 300px;
}

.swiper-slide{
    width: 800px;
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
}

.swiper-pagination {
    position: initial;
}