.redes-sociais{
    background-color: var(--preto);
    
}

.redes-titulo{
    color: var(--branco);
    font-family:  var(--fonte-principal);
    font-size: 32px;
    font-weight: 500;
    padding: 20px;
}

.redes-container{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    
}

.redes-subtitulo{
    color: var(--amarelo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    padding-left: 12px;
    
}

.redes-descricao{
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 13px;
    font-weight: 400;
    display: inline;
}
